{
  "root": true,
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "jest": true,
    "jquery": true
  },
  "extends": "airbnb",
  "rules": {
    "consistent-return": 0,
    "quotes": [2, "single"],
    "eqeqeq": [2, "smart"],
    "strict": 0,
    "curly": [2, "multi-line"],
    "object-curly-spacing": ["error", "always"],
    "array-bracket-spacing": ["error", "always"],
    "computed-property-spacing": ["error", "always"],
    "no-multi-spaces": [2, { "exceptions": { "VariableDeclarator": true } }],
    "key-spacing": [2, { "align": "colon" }],
    "camelcase": [2, { "properties": "never" }],
    "indent": ["error", 2, { "VariableDeclarator": { "var": 2, "let": 2, "const": 3 }, "SwitchCase": 1 }],
    "no-console": ["error", { "allow": ["warn", "error", "log"] }],
    "space-in-parens": ["error", "always", { "exceptions": ["empty", "{}"] }],
    "comma-dangle": ["error", "never"],
    "one-var": 0,
    "max-len": 0, // Line length max 100 chars - seems too short but maybe set to alt value?
    "arrow-body-style": 0,
    "no-underscore-dangle": 0,
    "func-names": 0,
    "no-useless-escape": 0,
    "new-cap": 0,
    "no-useless-constructor": 0,
    "no-return-assign": 0,
    "no-extend-native": 0,
    "radix": 0,
    "no-case-declarations": 0
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "blockBindings": true,
      "modules": true
    }
  },
  "globals": {
    "io": true,
    "Highcharts": true
  }
}
