extends layout

block content
    section#main-column.dashboard
        div#sensorValues.hide
            div.sensor-values
                div.{sensor.type} <span>#{sensor.unit}</span>
                label #{sensor.label}

        div#master-container

block page_scripts
    script.
      var sensor=!{JSON.stringify(sensor)}
    script(src='/javascripts/DetailChart.js')
