extends layout

block content
    section#main-column.dashboard
        div#sensorValues.hide
            div.sensor-values
                div.humidity ?<span>%</span>
                label Humidity

        div#detail-container
        div#master-container

block page_scripts
    script(src='/javascripts/humidityDetailChart.js')
