extends layout

block content
  section#main-column.dashboard
    div#about
      h1
        span Remote
        span  Plant Monitoring System
      div#sensorValues
        div#temperature-limits.sensor-values
          div.temperature 0<span>°C</span>/0<span>°C</span>
          label Temperature (min/max)
        div#humidity-limits.sensor-values
          div.humidity 0<span>%</span>/0<span>%</span>
          label Humidity (min/max)
        div#water-limits.sensor-values
          div.water 0<span>%</span>
          label Water Level (min)
    div#sensorValues
      div#temperature.sensor-values(data-url='/temperature')
        div.temperature 0<span>°C</span>
        label Temperature
      div#light.sensor-values(data-url='/light')
        div.light 0<span>%</span>
        label Light
      div#humidity.sensor-values(data-url='/humidity')
        div.humidity 0<span>%</span>
        label Humidity
      div#water.sensor-values(data-url='/water')
        div.water 0<span>%</span>
        label Water Level
      div#users.sensor-values
        div.users 1
        label Users

    div#sensorData

block page_scripts
  script.
    var measurements=!{JSON.stringify(measurements)}
  script(src='/javascripts/chart.js')
  script.
    var url = null;
    $('div.sensor-values').on('click', function (e) {
      url = $(e.currentTarget).data('url');
      if (!url) { return; }

      window.location.href = $(e.currentTarget).data('url')
    })
