doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport", content="width = device-width, initial-scale = 1.0, minimum-scale = 1, maximum-scale = 1, user-scalable = no")
    meta(name="apple-mobile-web-app-title", content="Plant Monitor")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    link(rel="apple-touch-icon", href="apple-touch-icon-iphone.png")
    link(rel="apple-touch-icon", sizes="76x76", href="apple-touch-icon-iphone.png")
    link(rel="apple-touch-icon", sizes="120x120", href="apple-touch-icon-iphone.png")
    link(rel="apple-touch-icon", sizes="152x152", href="apple-touch-icon-iphone.png")
    link(rel="apple-touch-startup-image", href="iphone-startup.png")



  body
    block content

  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/highstock/5.0.14/highstock-all.js')
  script(src='//s3-us-west-2.amazonaws.com/s.cdpn.io/4579/darkThemeHighCharts.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js')
  script.
    $(document).ready(function(){
      // iOS web app full screen hacks.
      if(window.navigator.standalone == true) {
        // make all link remain in web app mode.
        $('a').click(function() {
          window.location = $(this).attr('href');
          return false;
        });
      }
    });

  block page_scripts
